#home {
	position: fixed;
	bottom: 10px;
	left: 10px;
	padding: 10px;
	background-color: #007BFF;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

#home:hover {
	background-color: #0056b3;
}

#copyright {
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 10px;
}

footer {
	background: none;
	text-align: left;
	margin-top: 40px;
}
